parameters:
	ignoreErrors:
		-
			message: "#^Property Hirokinoue\\\\AstVisualizer\\\\Traverser\\\\DrawingTraverser\\:\\:\\$visitors \\(array\\<int, PhpParser\\\\NodeVisitor\\>\\) does not accept array\\<int\\|string, PhpParser\\\\NodeVisitor\\>\\.$#"
			count: 1
			path: src/Traverser/DrawingTraverser.php
